@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');


body {
  font-family: "Open Sans", sans-serif;
}

.logo{
  width: 300px;
  height: 100%;
}

.wrapper {
  background: linear-gradient(to right, #ffaa9f, #fffcac);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 90vh;
  background: #fff;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  width: 80%;
  margin: 0 auto;
}

.borders{
  border: 5px #273648 solid!important;
}

.bg-container {
  height: 90vh;
  background: url("img/spring.png") center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  box-shadow: 20px 25px 50px #00000085;
}

.title-container__title {
  font-size: 60px;
  letter-spacing: 2px;
  line-height: 1.3;
  font-family: 'Roboto Slab', serif;
  font-family: 'Just Another Hand', cursive!important;

}

.title-container__subtitle {
  font-style: italic;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: "Merriweather", serif;
}


.form-container {
  background-color: #273648;
  color: white;
  height: 90vh;
  padding-top: 50px;
  padding-left: 50px!important;
  box-shadow: 20px 25px 50px #00000085;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px #ffaa9f;
  width: 30%;
  padding-bottom: 4px;
  color: #fff !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
}

input[type="text"] { 
    outline: none;
}
::placeholder { 
    color: #ffaa9f;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 30px #273648 inset;
    -webkit-box-shadow: 0 0 0 30px #273648 inset;
    -webkit-text-fill-color: #fff !important;
}

button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #ffaa9f!important;
  color: #fff;
  font-weight: 100;
}

button:active {
  outline: none;
}

.weather__info {
  width: 60%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.weather__key {
  color: #ffaa9f;
  border-bottom: solid 2px #ffaa9f;
  padding: 40px 0 5px 0;
  font-weight: 400;
  width: 80%;
}

.weather__key:last-child {
  margin-bottom: 100px;
}

.weather__value {
  color: #fff;
  font-weight: 200;
}

.weather__error {
  color: #f16051;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}
